<h1>Hands</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Hand</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @hands.each do |hand| %>
      <tr>
        <td><%= link_to image_tag(hand.picture.url(:thumb)), hand_path(hand) %></td>
        <td>
          <%= link_to 'Guess', hand_path(hand), :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Lend a hand', new_hand_path, :class => 'btn btn-primary' %>
