<div class="container">
  <div class="content">
    <div class="row">
      <div class="span12">
        <h3>Why?</h3>
        <p> 
        Christie's mock law trial has a section in which the parents of the murder victim are able to identify the deceased solely on the severed hand of the deceased.</p>
        </p>
        <p>
        I called bullshit and said no one can identify someone just based on their hand (including myself), Christie disagrees.
        </p>
        <h4>The question is could you truthfully and accurately identify someone by only looking at their hand? </h4>
        <br />
        <br />
        <br />

        <%= button_to 'Well GET GUESSING', '/hands', :class => 'btn btn-mini btn-danger', :method => 'get' %>
        </p>              
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->


